.cartee{
    border: 1px solid black;
    width: 55%;
    height: 300px;
    background-color: orange;
}

.entoure{

    width: 100%;
    height: 300px;
    border: 1px solid red;
    border-radius: 20%;
    background: white;
    
   
}

.lyceec{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.devise{
    text-align: center;
    border: 2px blue solid;
    
   height: 25px;
   font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 45px;
}

.separation{
    border-bottom: 2px solid blue;
}

.ima{
    margin-left: 20px;
}

.diposi{
    display: flex;
}

.cartes{
    margin-left: 45px;
    font-size: 15px;
}

.imalo{
    margin-left: 55px;
    text-transform: capitalize;
    
}

.search{
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}


.gras{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}


.civile{
    margin-left: 10px;
    background-image: url(/img/burkina.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
}